* {
    margin: 0;
    padding: 0;
}

body {
    font-family: tahoma;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.timeline {
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
}

.timeline .swiper-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.timeline .swiper-wrapper {
    transition: 2s cubic-bezier(0.59, -0.4, 0.27, 1.34) 0.2s;
}

.timeline .swiper-slide {
    position: relative;
    color: white;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.timeline .swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: -115%;
    bottom: -10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
    box-shadow: -230px 0 150px 59vh rgba(0, 0, 0, 0.7);
}

.timeline .swiper-slide-content {
    position: absolute;
    text-align: center;
    width: 80%;
    max-width: 310px;
    right: 50%;
    top: 13%;
    font-size: (50%,0);
    font-size: 12px;
    z-index: 2;
}

.timeline .swiper-slide .timeline-year{
    display: block;
    font-size: 22px !important;
    margin-bottom: 50px;
    transform: translate3d(20px,0,0);
    color: orange;
    font-size: italic;
    font-weight: 300px;
    /* opacity: 0; */
    transition: 0.2s ease 0.4s;
    
}

.timeline .swiper-slide .timeline-title{
    font-weight: 800px;
    font-size: 54px;
    margin: 0 0 30px;
    /* opacity: 0; */
    transform: translate3d(20px,0,0);
    transition: 0.2s ease 0.5s;
}

.timeline .swiper-slide .timeline-text{
    line-height: 1.8s;
    /* opacity: 0; */
    transform: translate3d(20px,0,0);
    transition: 0.2s ease 0.7s;
    font-size: 14px;
}